body {
  font-family: 'Arial';
  text-align: center;
  background: linear-gradient(to right, #ffc0cb, #ff69b4);
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  margin: 20px;
}

/* FLEXBOX CARDS */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CARD DESIGN */
.card {
  width: 200px;
  padding: 15px;
  background: white;
  border-radius: 20px;
  color: black;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

/* HOVER EFFECT */
.card:hover {
  transform: scale(1.05);
}

/* IMAGE */
.card img {
  width: 100%;
  border-radius: 15px;
}

/* BUTTON */
button {
  background: #ff69b4;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* BUTTON HOVER */
button:hover {
  background: #ff1493;
}